.App-body-about{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, black, rgb(41, 156, 194));
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 50%;
    color: white;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}
  
.center h1{
    text-align:center;
    padding: 0 0 5px 0;
    /*border-bottom: 1px solid silver;*/
  
}
.para {
    color: black;
    padding: 10px;
    background: lightgrey;
    border-radius: 10px;
    padding-bottom: 5vh;

}