.accounth{
}


#profilePic{
    position: relative;
    right:560px; 
    top:-110px;
    border: 3px solid white;
    border-radius: 10px;
    height:250px;
    width: 250px;
    display:flex;
}

#profileCont{
    position: relative;
    font-size:12px;
    right:560px; 
    top:-100px;
    border: 3px solid white;
    border-radius: 10px;
    padding:-10px;
    width: 125px;
}
#profileBio{
    position: relative;
    font-size:12px;
    right:560px; 
    top:-90px;
    border: 3px solid white;
    border-radius: 10px;
    padding:-10px;
    width:250px;
}
#profileDrag{
    position: relative;
    font-size:12px;
    right:560px; 
    top:-80px;
    border: 3px solid white;
    border-radius: 10px;
    padding:-10px;
}

#profileInsta{
    position: relative;
    left:-400px; 
    top:-300px;
    height:50px;
  

}
#profileTwitter{
    position: relative;
    left:-370px; 
    top:-350px;


}
#tableinfo{
    position: absolute;
    right:150px; 
    top:140px;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
}