.no-content{
    color:gray;
    justify-content: center;
    margin-top:10%;
    margin-left: 135px;
    
}
.singleAlert{
    
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding-bottom:5%;
  
    
}

section.activeAlerts{
    width:70%;
    margin-top:10%;
    margin-left:10%;
    margin-right:auto;

}
/*Image CSS*/

.alertImgContainer img{
    
    height:10vw;
   
}
.alertImgContainer{
    display:flex;
    flex-direction:column;
}
/*Image Detected Card*/
div.css-bhp9pd-MuiPaper-root-MuiCard-root:not(.cardButtons) {
    width:35%;
    background-color:  rgba(255, 255, 255, 0.753);;
    height:25%;

}
div.cardButtons {
    width:100%;
    justify-content:center;
    align-self:flex-end;
    
    
    
    
}

div.cardButtons button{

  padding:5%;
    font-size:1.2vw;
    padding-bottom:5%;
    
}
div.css-46bh2p-MuiCardContent-root {
    padding:3%;
}
.MuiPaper-root:not(.alertBoxContainer div){
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
p.MuiTypography-body2{ 
    margin-top:5%;
    font-size:1.08vw;
}
p.MuiTypography-body1{
    font-size:1vw;
}

/*CSS for Links*/
.alertLinks{
    width:10%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:1.1vw;

    
}
.indivLink{
    
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #efefef;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    font-size:1.2vw;
    

}
/*alert box*/
.css-acap47-MuiAlert-message {
    padding: .1em;
}
div.css-efvcc7-MuiPaper-root-MuiAlert-root{
    line-height: 0;
}
