.no-content{
    color:gray;
    justify-content: center;
    margin-top:20%;
}
.singleAlert{
    
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding-bottom:5%;
  
    
}
.activeAlerts{
    width:70%;
    margin-top:10%;
    margin-right:5em;
}
div.css-bhp9pd-MuiPaper-root-MuiCard-root{
    width:12em;
    background-color:  rgba(255, 255, 255, 0.753);;
    height:6em;
}
.alertImgContainer img{
    width:8em;
   
}
.alertImgContainer{
    display:flex;
    flex-direction:column;
   
    

}
.cardButtons {
    width:inherit;
    justify-content:center;
    
}