li.thumb{
    height:50px;
    
}
li.thumb img{
    height:35px;
    padding-top:7px;
}
.carousel .thumb{
    border-color:black;
    border-width:1px;
}
.carousel .slide div.legend{
    opacity: 0;
    transition:opacity .40s ease-in-out;
    height:40vmin;
    width:55%;
    /*Gradient for hover effect*/
   
    background: rgb(1,4,1);
    background: linear-gradient(0deg, rgba(1,4,1,1) 0%, rgba(10,21,23,0.48269730255383403) 72%);
    display:flex;
    flex-direction: column;
    text-align:left;
    align-content:left;
    justify-content:flex-end;
    


   

    /*unsetting preset css from carousel source*/
    bottom:unset;
    margin-left: unset;
    margin-right:unset;
    left: unset;
  
   

    
}
.featUserNames{
    display:inline;
}
.userThumb{
    
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content:flex-start;
  
    
}
.userThumbResults{
    display:flex;
    gap: 30px;
    align-self:flex-start;
}
 p.userInfo{
    width:40%;
    align-self:center;
  
}
.carousel{
    -webkit-overflow-scrolling: touch;
}

.carousel .slide img{
    width:50%;
}
.slide div:not(.userThumbResults, .userThumb){
  
    display:flex;
    justify-content: center;
  
   
    
}