.dataGrid{
    width:75%;
}
.dataGrid img{
    width: 100%;

}
.dataGrid img:hover{
    opacity:.8;

}
.css-1msdtji-MuiPaper-root-MuiCard-root{
    height:40vh;
    margin-bottom:5%;
    width:20vw;
    
}
p.MuiTypography-body2{
    font-size:small;
 
}
.css-o69gx8-MuiCardMedia-root{
    height:20vh;
}

.css-124yhl1-MuiAvatar-root{
    margin:auto;
    margin-top:.6em;

}
div.css-vj1n65-MuiGrid-root{ 
    display:flex;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom:5%;
    
}

div.css-hidgkg-MuiAvatar-root{
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;

}
.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
    height:100%;
}
ul.collectionItem{
    opacity:.7;
   
  
}
 ul div.collectionNameBar{
    position:absolute;
    height:20%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    left:0;
    right:0;
    margin-right:inherit;
    opacity:.95;
    bottom:0;
    background-color: black;
}
.css-rvv586-MuiImageList-root{
    position:relative;
}
::-webkit-scrollbar{
    width:0;
}
.filters{
    font-size:larger;
}