.dataGrid{
    width:75%;
}
.dataGrid img{
    width: 100%;

}
.dataGrid img:hover{
    opacity:.8;

}
.css-1msdtji-MuiPaper-root-MuiCard-root{
    height:35vh;
    width:20vw;
    
}
p.MuiTypography-body2{
    font-size:small;
 
}
.css-o69gx8-MuiCardMedia-root{
    height:20vh;
}
.css-124yhl1-MuiAvatar-root{
    margin:auto;
    margin-top:.6em;
    
   
}