.featUsers, .row{
    display:flex;
    flex-direction:horizontal;
    margin-left:5%;
    margin-right:5%;
    width:90%;
    height:50%;
    justify-content: space-around;
}
div.card{
    
    background: rgb(1,4,1);
    background: linear-gradient(90deg, rgba(1,4,1,.5) 0%, rgba(46,46,61,.5) 40%, rgba(10,21,23,.5) 90%);
}
.col-md-4{
    width:20%;
 
}
.card-text{
    font-size:20px;
}
.featUsersLabel {
float:left;
width:80%;
}
h2.featUsersLabel {
    font-weight:400;
    font-size: 22px;
    text-align:left;
    float:left;
}