.featUsers{
  
  width:100%;
  
 

 

}
.row .card {
  height:38vh;
}


::-webkit-scrollbar {
  width: 10px;
 
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.9); 
  background-color: rgba(255, 255, 255,.6);
}

.row{
 
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap:5%;
  margin-bottom:2%;
  margin-left:5%;
  margin-right:5%;


  
}
.col-md-4{
  flex: 0 0 auto;
  scroll-snap-align: start;
}
div.card{

    
  background: rgb(1,4,1);
background: linear-gradient(0deg, rgba(1,4,1,1) 0%, rgba(10,21,23,0.48269730255383403) 65%, rgba(10,21,23,0) 92%);
  box-shadow: 0px -2px 2px black;


  border-color:black;
    /* background: linear-gradient(90deg, rgba(1,4,1,.5) 0%, rgba(46,46,61,.5) 40%, rgba(10,21,23,.5) 90%);
 */
}
.col-md-4{
    width:18%;
 
}
.card-text{
    font-size:20px;
}
.featUsersLabel {
float:left;
width:80%;
}
h2.featUsersLabel {
    font-weight:400;
    font-size: 30px;
    text-align:left;
    float:left;
    font-family: sans-serif;
}
.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  header {
    margin-bottom: 30px;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  .card {
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    align-items:center;
    align-content: center;
    
  }
  .card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.8);
  }
  .card-title {
    margin-top: 20px;
  }
  .card-text {
    font-size: 14px;
    color: white;
  }
  .card-text .fa {
    font-size: 26px;
  }
  /*avatar root*/
  div.css-w4s36x-MuiAvatar-root{
    margin-right:auto;
    margin-left:auto;
  }
  .card:hover div.css-w4s36x-MuiAvatar-root{
    margin-right:auto;
    margin-left:auto;
  
  }
  .btn {
    border-radius: 25px;
  }
  

  
  @media (min-width: 1200px) {
    .container {
      max-width: 1040px;
    }
  }
  