.App-body-login{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, blue, purple);
  height: 100vh;
  overflow: hidden;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgrey;
  border-radius: 10px;
  padding-bottom: 5vh;

}

.center h1{
  text-align:center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;

}

.center form{
  padding: 0 40px;
  box-sizing: border-box;

}

form .txt_field{
  position: relative;
  border-bottom: 2px solid grey;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: grey;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;

}

.txt_field input:focus ~ span::before, 
.txt_field input:valid ~ span::before{
  width:100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;

}

.pass:hover{
  text-decoration:underline;

}


input[type = "submit"]{
  width: 50%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type = "button"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type = "submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}


.center .sep{
  
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;

}

.center .regSub{

  display: flex;

}


