.App-body-registration{
    margin: 0;
    padding: 0;
    background: #282c34;
    height: 100vh;
    overflow: hidden;
  }

  .header{
      position:relative;
      top: 50px;
      left: 0%;
  }
  
  .container2{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgrey;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: 50vh;
    
  
  }

  .col1{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
    padding-right: 10px;
    

  }

  .col2{
    position: relative;
    display: flex;
    flex-direction: column;
    top:0%;
    padding-left: 10px;
    width: 150px;
    margin: 5px;


  }


  h3{
    color: white;
  }

  button{


  width: 75px;
  height: 35px;
  border: 1px solid;
  background: rgb(85, 172, 201);
  border-radius: 10px;
  font-size: 12px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;

  }

  button:hover{
    border-color: rgb(45, 136, 167);
    transition: .5s;
  }

  .submit{
    position: relative;
    left: 25%;
    margin-top: 10px;
  }

  .form1 .txt_field1{
    position: relative;
    border-bottom: 2px solid grey;
    margin: 10px 0;
  }
  
  .txt_field1 .input1{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field1 .label1{
    position: absolute;
    top: 50%;
    left: 5px;
    color: grey;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field1 .span1::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: grey;
    
  }

  .txt_field1 .input1:focus ~ label, 
  .txt_field1 .input1:valid ~ label{
    top: -2.5px;
    color: rgb(0, 8, 10);
  
  }
  
  .txt_field1 .input1:focus ~ span::before, 
  .txt_field1 .input1:valid ~ span::before{
    width:100%;
  }
  
 

  .placement{
    display: flex;
    flex-direction: column;
   
  }

  .option1{
    width: 100%;

    margin-bottom: 25px;
    
  }

  .submit{
    position: absolute;
    top: 250px;
  }

  .txt_field1 #pass{
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
 
  .txt_field1 #conf{
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
  
  input[type = "button7"]{
    width: 100%;
    height: 35px;
    border: 1px solid;
    background: rgb(85, 172, 201);
    border-radius: 10px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    
  }

