button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color:white;
}

.MuiTabs-centered .css-1wf8b0h-MuiTabs-flexContainer{
    justify-content:space-around;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    width:15vw;

}
button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#61DBFB;
}
span.css-1aquho2-MuiTabs-indicator{
    background-color: #61DBFB;
}